# App
NEXT_PUBLIC_API_URL=http://localhost:4000

# .env.local (frontend) — these are safe, not secret
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDKvKHe9vGgaU2NQGhf_tiDV8H5WYYo3Y0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=smash-it-05.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=smash-it-05
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=smash-it-05.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=445751775608
NEXT_PUBLIC_FIREBASE_APP_ID=1:445751775608:web:593f12abe32f618511388d
NEXT_PUBLIC_FIREBASE_VAPID_KEY=BARxTffj5ru9XVe1duT7ZXorkL26rSi_tptCWOb-zLrIQ6ALNBL1jUwN128HqhR7erq4TzXuThdyQXsgwDA8uuwM
